.dart_tool/
.flutter-plugins-dependencies
android/.gradle/
android/app/src/main/java/
android/gradlew.bat
android/local.properties
build/
pubspec.lock
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
